= simple_form_for(@task, html: { class: 'form-horizontal' }) do |f|
  = f.collection_select :category_id, Category.all, :id, :name, { prompt: "Choose a Category" }, input_html: { class: "dropdown-toggle" }
  = f.input :title, label: "task title", input_html: { class: "form-control" }
  = f.input :description, label: "task description", input_html: { class: "form-control" }
  = f.input :company, label: "your company", input_html: { class: "form-control" }
  = f.input :url, label: "link to task", input_html: { class: "form-control" }
  %br/
  = f.button :submit